@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

footer a {
    text-decoration: none  !important;
    color: #fff !important;
}

.social-icons {

    margin-right: 10px;
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.list-unstyled.social-icons {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
}

.list-unstyled.social-icons li {
    margin: 0 10px;
    height: 20px;

}

.quicklinks li {
    margin: 5px;
    opacity: 0.7;
    transition: all 0.2ms;
}

.quicklinks li:hover {
    opacity: 1;
    font-weight: 500;

}

.phone {
    color: #ff5a2c;
    font-family: Poppins Helvetica, sans-serif;
    /* font-size: 15px; */
    display: block;
    margin-top: 4px;
}

footer p {
    color: white;
    text-align: left;
    font-size: 16px;
}

.address {
    font-size: 16px;
    padding-left: 7px;
}

.logo {
    height: 80px;
    width: fit-content;
}

footer h5 {
    margin-top: 20px;
}

/* Facebook */
.social-icons .facebook:hover i {
    color: #1877f2;
    /* Facebook blue */
}

/* Twitter */
.social-icons .twitter:hover i {
    color: #1DA1F2;
    /* Twitter blue */
}

/* Instagram */
.social-icons .instagram:hover i {
    color: #E4405F;
    /* Instagram pink */
}

/* Replace with your Instagram logo image */


/* LinkedIn */
.social-icons .linkedin:hover i {
    color: #0077B5;
    /* LinkedIn blue */
}

/* YouTube */
.social-icons .youtube:hover i {
    color: #FF0000;
    /* YouTube red */
}

/* for top button  */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 60px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    rotate: 270deg;
    border-radius: 50px;
    text-align: center;
    padding-left: -10px;
}

.shadowmine {
    box-shadow: 1px 0px 15px grey;
}

.purpose-title {
    font-family: Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 30px;
}