@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  margin: 0;
}

/* From index.html */

a {
  text-decoration: none !important;
  color: #fff;
}

.social-icons {
  margin-right: 10px;
  display: flex;
  justify-content: space-around;

  align-items: center;
}

.list-unstyled.social-icons {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
}

.list-unstyled.social-icons li {
  margin: 0 10px;
  height: 20px;
}

.quicklinks li {
  margin: 5px;
  opacity: 0.7;
  transition: all 0.2ms;
}

.quicklinks li:hover {
  opacity: 1;
  font-weight: 500;
}

.phone {
  color: #ff5a2c;
  font-family: Poppins Helvetica, sans-serif;
  /* font-size: 15px; */
  display: block;
  margin-top: 4px;
}

footer p {
  font-size: 16px;
}

.address {
  font-size: 16px;
  padding-left: 7px;
}

.logo {
  height: 80px;
  width: fit-content;
}

footer h5 {
  margin-top: 20px;
}

/* Facebook */
.social-icons .facebook:hover i {
  color: #1877f2;
  /* Facebook blue */
}

/* Twitter */
.social-icons .twitter:hover i {
  color: #1da1f2;
  /* Twitter blue */
}

/* Instagram */
.social-icons .instagram:hover i {
  color: #e4405f;
  /* Instagram pink */
}

/* Replace with your Instagram logo image */

/* LinkedIn */
.social-icons .linkedin:hover i {
  color: #0077b5;
  /* LinkedIn blue */
}

/* YouTube */
.social-icons .youtube:hover i {
  color: #ff0000;
  /* YouTube red */
}

/* for top button  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 60px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  rotate: 270deg;
  border-radius: 50px;
  text-align: center;
  padding-left: -10px;
}

.shadowmine {
  box-shadow: 1px 0px 15px grey;
}

.purpose-title {
  font-family: Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 30px;
}

/* ends here... */

/* navbar color  */
.bg-color {
  background-color: #b1040e;
}
/* navbar logo sizing  */
.logo-image {
  height: 40px;
  width: 200px;
}
/* fixed image  */
.fixed-main-image {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  background-image: url("https://res.cloudinary.com/dqe4ld4cx/image/upload/v1693834930/CollegeBuilding_eh7qjr.jpg");
}
/* LARGE NAVBAR DISPLAY CSS  */
.nav-elements-large {
  display: none;
}

/*.second-navbar {
    background-color: #ffffff;
    height: 30px;
    width: 100%;
}
.second-navbar-large{
    background-color: transparent;
    height: 100px;
    width: 100%;
    
}
.second-navbar-large-contents{
    text-decoration: none !important;
}
*/
/*second-large-navbar*/
.second2-navbar-large {
  background-color: transparent;
  width: 100%;
  border: 2 solid yellow;
}

.second2-navbar-large-contents {
  border: 2 solid red;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.shadow-layer {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  background-size: cover;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 250px;
  text-align: center;
}
/* contens from placement stats  */
.content {
  width: 100%;
  padding: 10px;
}
/* small navbar college name CSS  */
.clg-title-navbar {
  color: #ffffff;
  margin-left: 5px;
  font-size: 20px;
}
.title-small {
  display: none;
}
.clg-title {
  font-size: 80px;
  text-shadow: 5px 5px 5px #000000;
}
/* DROPDOWN ITEMS FONT SIZE IN SMALL SIZE  */
.dept-dropdown-items {
  font-size: 13px;
}
/* .menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 500;
} */
/* PURPOSE ITEMS CARDS TITLE  */
.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: BOLD;
  margin-top: 24px;
  text-align: center;
}
/* PURPOSE ITEMS CARDS */
.menu-item-card {
  height: 300px;
  border-radius: 16px;
}
/* PLACEMENT STATS  */
.placement-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.placement-content-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: whitesmoke;
  width: 100%;
  padding: 20px;
  font-weight: bold;
}
.stats {
  text-align: center;
}
/* PLACEMENT STATS COUNT ELEMENTS  */
.count-increase {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  color: #b1040e;
}
/* EMPTY ELEMENT BEFORE PLACEMENT STAT  */
.empty {
  height: 100px;
  width: 100px;
}
/* EMPTY ELEMENT AFTER PLACEMENT STAT  */
.empty-1 {
  height: 80px;
  width: 100px;
}

/* COURSES OFFERED CARD  */
.wcu-card-image {
  width: 87px;
  height: 90px;
  text-align: center;
}

.wcu-card {
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}

.wcu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: bold;
}

.wcu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
/* TESTIMONY  */
.testimony {
  background-color: grey;
  /* height: 170px; */
  text-align: center;
}
/* LAST STATS  */
.college-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  padding: 20px;
  font-weight: bold;
}

/* MBA CARD STYLING  */
.masters-card {
  text-align: center;
}
/* COUSES OFFERED CARDS BUTTON  */
.program-button {
  color: #ffffff;
  border-style: none;
  height: 30px;
  border-radius: 10px;
  width: 70px;
}

/* style for footer start from here */
footer a {
  text-decoration: none !important;
  color: #fff !important;
}

.social-icons {
  margin-right: 10px;
  display: flex;
  justify-content: space-around;

  align-items: center;
}

.list-unstyled.social-icons {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
}

.list-unstyled.social-icons li {
  margin: 0 10px;
  height: 20px;
}

.quicklinks li {
  margin: 5px;
  opacity: 0.7;
  transition: all 0.2ms;
}

.quicklinks li:hover {
  opacity: 1;
  font-weight: 500;
}

.phone {
  color: #ff5a2c;
  font-family: Poppins Helvetica, sans-serif;
  /* font-size: 15px; */
  display: block;
  margin-top: 4px;
}

footer p {
  font-size: 16px;
}

.address {
  font-size: 16px;
  padding-left: 7px;
}

.logo {
  height: 80px;
  width: fit-content;
}

footer h5 {
  margin-top: 20px;
}

/* Facebook */
.social-icons .facebook:hover i {
  color: #1877f2;
  /* Facebook blue */
}

/* Twitter */
.social-icons .twitter:hover i {
  color: #1da1f2;
  /* Twitter blue */
}

/* Instagram */
.social-icons .instagram:hover i {
  color: #e4405f;
  /* Instagram pink */
}

/* Replace with your Instagram logo image */

/* LinkedIn */
.social-icons .linkedin:hover i {
  color: #0077b5;
  /* LinkedIn blue */
}

/* YouTube */
.social-icons .youtube:hover i {
  color: #ff0000;
  /* YouTube red */
}

/* for top button  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 60px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  rotate: 270deg;
  border-radius: 50px;
  text-align: center;
  padding-left: -10px;
}
.shadowmine {
  box-shadow: 1px 0px 15px grey;
}
.purpose-title {
  font-family: Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 30px;
}

/* style for footer ends here  */

/* company logos css */
/* Company Scroll Bar CSS starts here. */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.company-logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.company-logos:before,
.company-logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.company-logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.company-logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.company-logos-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}

.company-logos-slide img {
  height: 50px;
  margin: 0 50px;
}

/* Comapny SCroll Bar CSS ends here. */

/* media query for display navbars and dropdowns */
@media screen and (min-width: 457px) and (max-width: 556px) {
  .dept-dropdown-items {
    font-size: 10px;
  }
}
@media screen and (max-width: 456px) {
  .dept-dropdown-items {
    font-size: 7px;
  }
}
@media screen and (min-width: 768px) and (max-width: 834px) {
  .dept-dropdown-items {
    font-size: 11px;
  }
}
/* something  */
@media not screen and (min-width: 0px) and (max-width: 991px) {
  .nav-elements-large {
    display: block !important;
  }

  .nav-elements-small {
    display: none !important;
  }
  .small-navbar-menu-navbar {
    display: none;
  }
  #second-large-navbar {
    display: block !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .nav-elements-large {
    display: none !important;
  }

  .nav-elements-small {
    display: block !important;
  }
  .small-navbar-menu-navbar {
    display: block;
  }
  #second-large-navbar {
    display: none !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .title-small {
    display: block;
    font-size: 50px;
  }

  .title-span {
    display: none;
  }

  .clg-title-navbar {
    color: #ffffff;
    font-size: 12px;
  }

  .clg-title {
    font-size: 40px !important;
  }

  .fixed-main-image {
    height: 200px;
  }

  .menu-item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-item-image {
    height: 100px;
    width: 100px;
  }

  .placement-size {
    font-size: 12px;
  }

  .clg-title {
    font-size: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px),
  (min-width: 768px) {
  .menu-item-image {
    height: 150px;
    width: 150px;
    text-align: center;
  }

  .menu-item-card {
    text-align: center;
  }

  .fixed-main-image {
    height: 300px;
    background-position: center;
  }
}

/*Small custom navbar*/
.small-navbar {
  padding: 10px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b1040e;
}

i {
  align-self: center;
}
.small-navbar-logo-image {
  height: 50px;
  width: 50px;
}
.small-navbar-nav-button {
  background-color: transparent;
  border: 2px solid #ffffff88;
  border-radius: 5px;
  height: fit-content;
  padding: 6px;
  color: #ffffff90;
  height: fit-content;
}
.small-navbar-center-text {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
.small-navbar-logo-image {
  height: 50px;
  width: 50px;
}

.small-navbar-menu-items {
  padding-left: 10px;
  color: #12022f95;
  font-size: 14px;
}

.small-navbar-menu-button {
  margin: 10px;
  background-color: #ffdda9;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  color: #12022f;
  font-weight: bold;
  border-style: none;
  padding: 5px;
}

.small-navbar-menu-navbar {
  display: none;
}
.small-navbar-last-div-navbar {
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small-navbar-items-last-div-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.small-navbar-items-last-div-anchor {
  color: #12022f;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-elements-small {
    display: none;
  }
}
/*Small Navbar media query*/

/*Small custom navbar Ends*/

@media screen and (min-width: 576px) and (max-width: 768px),
  (min-width: 768px) {
  .menu-item-image {
    height: 150px;
    width: 150px;
    text-align: center;
  }

  .menu-item-card {
    text-align: center;
  }

  .fixed-main-image {
    height: 300px;
    background-position: center;
  }
}
.branch-card {
  transition: all 1s ease;
}
/* colour animation for course offered */
.branch-card:hover {
  .wcu-card-title {
    color: white !important;
  }
  .program-button {
    background-color: white !important;
    color: #b1040e;
  }
  transform: scale(1.04);
  background-color: #b1040e;
  color: white !important;
  background-position: left;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  color: white;
  border: solid white 1px;
}

/* animation */
.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: BOLD;
  margin-top: 24px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.menu-item-card {
  height: 300px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.menu-item-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #b1040e;
  z-index: 1;
  transition: height 1s ease;
}

.menu-item-card:hover::before {
  height: 29%;
}

.menu-item-card:hover .menu-item-image {
  transition: 2s;
  transform: scale(1.2);
}

.menu-item-card:hover .menu-card-title {
  color: #fff;
}
/* animation ends here  */

/* new animation starts here  */
.menu-card-title2 {
  color: black;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: BOLD;
  margin-top: 24px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.menu-item-card2 {
  height: 300px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.menu-item-card2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #b1040e;
  z-index: 1;
  transition: height 1s ease;
}

.menu-item-card2:hover::before {
  height: 100%;
}

/* .menu-item-card2:hover .menu-item-image{
    transition: 2s;
    transform: scale(1.2);
    
} */

.menu-item-card2:hover .menu-card-title2 {
  color: #fff;
}

/* new animation ends here  */

/* image in menu-card adjustment */
@media screen and (min-width: 768px) and (max-width: 993px) {
  .aicte-card {
    width: 130px;
    height: auto;
    margin-top: 20px;
  }
}

/* font-size of placements */
@media screen and (max-width: 768px) {
  .count-increase {
    font-size: 35px;
  }
}
@media screen and (max-width: 446px) {
  .count-increase {
    font-size: 25px;
  }
}
