<html>
  <head>
    <title>Sri Vasavi Engineering College | Student Clubs</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/club.css" />
    <script>
      $(function () {
        $("#header").load("./header.html");
        $("#footer").load("./footer.html");
      });
    </script>
  </head>

  <body>
    <div id="header"></div>
    <!--Remaining section-->
    <div class="container mt-5" style="text-align: center">
      <h1 class="text-center">College Clubs Directory</h1>
      <p class="text-center">
        Clubs in a college are vibrant and diverse communities of students who
        come together to pursue shared interests, hobbies, and passions outside
        of their academic commitments. These clubs provide opportunities for
        students to connect, learn, and grow while fostering a sense of
        belonging and camaraderie. Whether focused on cultural exploration,
        academic enrichment, sports, or service, college clubs offer a dynamic
        platform for personal development, social engagement, and the formation
        of lasting friendships
      </p>
    </div>
    <div class="container-fluid mt-5">
      <center>
        <img
          src="../images/campusLife/clubimg.jpg"
          alt=""
          width="100%"
          style="max-width: 80%"
        />
      </center>
    </div>
    <section id="slider">
      <input type="radio" name="slider" id="s1" checked />
      <input type="radio" name="slider" id="s2" />
      <input type="radio" name="slider" id="s3" />
      <input type="radio" name="slider" id="s4" />
      <input type="radio" name="slider" id="s5" />

      <label for="s1" id="slide1"
        ><img src="../images/campusLife/music.jpg" alt=""
      /></label>
      <label for="s2" id="slide2"
        ><img src="../images/campusLife/yoga.jpg" alt=""
      /></label>
      <label for="s3" id="slide3"
        ><img src="../images/campusLife/dance.jpg" alt=""
      /></label>
      <label for="s4" id="slide4"
        ><img src="../images/campusLife/art.jpg" alt=""
      /></label>
      <label for="s5" id="slide5"
        ><img src="../images/campusLife/adventure.jpg" alt=""
      /></label>
    </section>
    <div class="container">
      <h3 class="mt-4 mb-3" id="section-heading">Academic Clubs</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="https://developers.google.com/community/gdsc/images/gdsc-social-share.png"
              class="card-img-top"
              alt="Academic Club 1"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="../images/campusLife/micro.png"
              class="card-img-top"
              alt="Academic Club 2"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h3 class="mt-4 mb-3" id="section-heading">Arts and Culture Clubs</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="../images/campusLife/dance.jpg"
              class="card-img-top"
              alt="Academic Club 1"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="../images/campusLife/music.jpg"
              class="card-img-top"
              alt="Academic Club 2"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="../images/campusLife/art.jpg"
              class="card-img-top"
              alt="Academic Club 3"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h3 class="mt-4 mb-3" id="section-heading">Sports and Fitness Clubs</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="../images/campusLife/adventure.jpg"
              class="card-img-top"
              alt="Academic Club 1"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="../images/campusLife/yoga.jpg"
              class="card-img-top"
              alt="Academic Club 2"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div
            class="card"
            style="border-radius: 10px; box-shadow: 0px 0px 10px 0px gray"
          >
            <img
              src="https://developers.google.com/community/gdsc/images/gdsc-social-share.png"
              class="card-img-top"
              alt="Academic Club 3"
              style="border-radius: 10px 10px 0 0"
            />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda voluptate animi necessitatibus! Quia laborum inventore
                laudantium adipisci at obcaecati unde?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer"></div>
  </body>
</html>
