<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sri Vasavi Engineering College | Hostels</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/b2b9ab5ba1.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/20c5629a29.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/b2b9ab5ba1.js"
      crossorigin="anonymous"
    ></script>
    <link
      id="googleidentityservice"
      type="text/css"
      media="all"
      rel="stylesheet"
      href="https://accounts.google.com/gsi/style"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/hostel.css" />
    <script>
      $(function () {
        $("#header").load("./header.html");
        $("#footer").load("./footer.html");
      });
    </script>
  </head>
  <body style="max-width: 100vw">
    <div id="header"></div>
    <div class="facilities">
      <div class="facilities-text">
        <h2 style="padding: 30px 0px 0px 0px">Facilities</h2>
        <h4 style="padding: 0px 0px 30px 0px">We have everything you need</h4>
      </div>
      <div class="facilities-images">
        <div class="facilities-image">
          <img
            src="https://cdn-icons-png.flaticon.com/128/566/566280.png"
            alt="Wi-Fi Icon"
          />
          <p>Wi-Fi</p>
        </div>
        <div class="facilities-image">
          <img src="../images/campusLife/ac_icon.png" alt="AC Icon" />
          <p>AC Rooms</p>
        </div>
        <div class="facilities-image">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1587/1587440.png"
            alt="Rooms Icon"
          />
          <p>Furnished Rooms</p>
        </div>
      </div>
    </div>
    <div class="services">
      <h2 style="padding: 20px">Services</h2>
      <div class="service-cards">
        <div class="card service-card">
          <img
            src="https://img.freepik.com/premium-vector/cartoon-illustration-watchman-character-set_262129-356.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border">
            <p class="card-text text-center">House Keeping Watchman</p>
          </div>
        </div>
        <div class="card service-card">
          <img
            src="https://img.freepik.com/premium-vector/cartoon-illustration-watchman-character-set_262129-356.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border">
            <p class="card-text text-center">Hot Water</p>
          </div>
        </div>
        <div class="card service-card">
          <img
            src="https://img.freepik.com/premium-vector/cartoon-illustration-watchman-character-set_262129-356.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border">
            <p class="card-text text-center">Medical</p>
          </div>
        </div>
        <div class="card service-card">
          <img
            src="https://img.freepik.com/premium-vector/cartoon-illustration-watchman-character-set_262129-356.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border">
            <p class="card-text text-center">Badminton</p>
          </div>
        </div>
        <div class="card service-card">
          <img
            src="https://img.freepik.com/premium-vector/cartoon-illustration-watchman-character-set_262129-356.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border">
            <p class="card-text text-center">News Paper</p>
          </div>
        </div>
        <div class="card service-card">
          <img
            src="https://img.freepik.com/premium-vector/cartoon-illustration-watchman-character-set_262129-356.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border">
            <p class="card-text text-center">24x7 Power</p>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <hr />
      <div class="counters">
        <div class="stats">
          <p id="students-count" class="count-increase">0</p>
          <p class="placement-size">Students</p>
        </div>
        <div class="stats">
          <p id="care-takers-count" class="count-increase">0</p>
          <p class="placement-size">Care Takers</p>
        </div>
      </div>
      <hr />
    </div>
    <div class="contacts" style="padding-bottom: 50px">
      <h2 style="padding: 20px">Contact</h2>
      <div class="contact-cards">
        <div class="card contact-card">
          <img
            src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-Vector-PNG-File.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border" style="width: 100%">
            <p class="card-text text-center">
              Boys Hostel Warden<br /><i
                class="fa-solid fa-phone"
                style="color: #000000"
              ></i
              ><a href="tel:+91 99999 99999" class="mobile-number-handler"
                >+91 99999 99999</a
              >
            </p>
          </div>
        </div>
        <div class="card contact-card">
          <img
            src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-Vector-PNG-Photo.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body upper-border" style="width: 100%">
            <p class="card-text text-center">
              Girls Hostel Warden<br /><i
                class="fa-solid fa-phone"
                style="color: #000000"
              ></i
              ><a href="tel:+91 99999 99999" class="mobile-number-handler"
                >+91 99999 99999</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7f7b82;
      "
    >
      <div class="gallery">
        <h2 style="padding: 20px; text-align: center">Gallery</h2>
        <div class="row1">
          <div class="row1-col1">
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
          </div>
          <div class="row1-col2">
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
            <div class="row1-col2-inner">
              <img
                src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
                alt=""
              />
              <img
                src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="row2">
          <img
            src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
            alt=""
          />
        </div>
        <div class="row3">
          <div class="row3-col1">
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
          </div>
          <div class="row3-col2">
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
          </div>
          <div class="row3-col3">
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
            <img
              src="https://media.gcflearnfree.org/ctassets/topics/246/share_size_large.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
      function increaseNumber(targetElement, endValue) {
        let currentNumber = 0;
        const duration = 2300;
        let step = 1;
        if (endValue === 20) {
          step = 1;
        }
        const interval = duration / (endValue / step);
        const timer = setInterval(() => {
          currentNumber += step;
          if (currentNumber >= endValue) {
            clearInterval(timer);
            currentNumber = endValue;
          }
          targetElement.textContent = currentNumber;
          let content = targetElement.textContent;
          targetElement.textContent = content + "+";
        }, interval);
      }

      const studentsCount = document.getElementById("students-count");
      const careTakersCount = document.getElementById("care-takers-count");
      const statisticsSection = document.querySelector(".counters");

      const observer_1 = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            increaseNumber(studentsCount, 400);
            increaseNumber(careTakersCount, 10);
            observer_1.unobserve(statisticsSection);
          }
        });
      });

      observer_1.observe(statisticsSection);

      document.addEventListener("DOMContentLoaded", function () {
        const showDiv = document.querySelector(".counters");
      });
    </script>
  </body>
</html>
