<html>

<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("#header").load("./header.html");
            $("#footer").load("./footer.html");
        });
    </script>
    <link rel="stylesheet" href="../css/camp.css">
</head>

<body>
    <div id="header"></div>
    
    <section  style="margin-top: 130px;">
        <div class="container d-flex camp-mainSection">
            <div class="camp-text-container">
                <p style="font-stretch: expanded;
                font-stretch: expanded;
                background: url(../images/campusLife/adventure.jpg);
                background-size: cover;
                background-position: center; /* Adjust as needed */
                background-repeat: no-repeat;
                display: inline-block; 
                font-weight: bolder;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">Connect
                    <br>Collaborate
                    <br>Create
                </p>
            </div>
            <div class="camp-profile-img-container">
                <img class="profile-img" src="../images/campusLife/art.jpg" height="100%" width="100%">
            </div>
        </div>
    </section>
    <section id="campus">
        <div class="camp-features">
            <div class="row">
                <div class="camp-row">
                    <h2>Student Clubs</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam illo error quibusdam
                        minus!</p>
                    <div class="camp-button-container">
                        <a href="./clubs.html" id="a-button">Know
                            More ></a>
                    </div>
                </div>
                <div class="camp-row">
                    <img src="../images/campusLife/clubs.jpg">
                </div>
            </div>
            <hr style="height:9px;border-width:0;color:gray;background-color:gray">
            <div class="row">
                <div class="camp-row">
                    <img src="../images/campusLife/sports.jpg">
                </div>
                <div class="camp-row">
                    <h2>Physical Fitness & Wellness</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam illo error quibusdam
                        minus!</p>
                    <div class="camp-button-container">
                        <a href="./sports.html" id="a-button">Know
                            More ></a>
                    </div>
                </div>

            </div>
            <hr style="height:9px;border-width:0;color:gray;background-color:gray">
            <div class="row">
                <div class="camp-row">
                    <h2>Library</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam illo error quibusdam
                        minus!</p>
                    <div class="camp-button-container">
                        <a href="#" id="a-button">Know
                            More ></a>
                    </div>
                </div>
                <div class="camp-row">
                    <img src="../images/campusLife/library.jpg">
                </div>
            </div>
            <hr style="height:9px;border-width:0;color:gray;background-color:gray">
            <div class="row">
                <div class="camp-row">
                    <img src="../images/campusLife/hostel.jpg">
                </div>
                <div class="camp-row">
                    <h2>Residential</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam illo error quibusdam
                        minus!</p>
                    <div class="camp-button-container">
                        <a href="./hostel.html" id="a-button">Know
                            More ></a>
                    </div>
                </div>

            </div>
            <hr style="height:9px;border-width:0;color:gray;background-color:gray">
            <div class="row">
                <div class="camp-row">
                    <h2>Cafeteria</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam illo error quibusdam
                        minus!</p>
                    <div class="camp-button-container">
                        <a href="#" id="a-button">Know
                            More ></a>
                    </div>
                </div>
                <div class="camp-row">
                    <img src="../images/campusLife/canteen.jpg">
                </div>
            </div>
            <hr style="height:9px;border-width:0;color:gray;background-color:gray">
        </div>
    </section>

    <!--Remaining section-->
    <div id="footer"></div>
</body>

</html>
